@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <title>Evil Hilton's Time Management Matrix - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mission8_0206.styles.css" asp-append-version="true" />
</head>
<body>
    
    @* Top Nav Bar *@
    <div class="container">
        <div class="row">
            @* Home Page *@
            <div class="col-3">
                <a asp-controller="Home" asp-action="Index">Management Matrix</a>
            </div>
            @* Website Title *@
            <div class="col-6">
                <a asp-controller="Home" asp-action="Index">Evil Hilton's Time Management Maxtrix ToDo List'</a>
            </div>
            @* Add Task Page *@
            <div class="col-3">
                <a asp-controller="Home" asp-action="AddTask">Add Task</a>
            </div>

        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
