@{
    ViewData["Title"] = "AddTask";
}

@model Mission08_0208.Models.Task

@* Page Title *@
<div class="container mt-4">
    <div class="row">
        <div class="col text-center">
            <h3 class="glowing-text">So You Want To Add A Task To My ToDo List?</h3>
        </div>
    </div>
</div>

@* Form to Add/Edit Tasks *@
<div class="container mt-4">
    <form method="post">
        <div class="row mb-3">
            <div class="col-6">
                <input type="hidden" asp-for="TaskId" />
                <label asp-for="TaskName" class="col-form-label">Task Title</label>
                <input asp-for="TaskName" class="form-control" required />
            </div>
            <div class="col-6">
                <label asp-for="DueDate" class="col-form-label">Due Date</label>
                <input asp-for="DueDate" value="" class="form-control" type="date" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label asp-for="Quadrant" class="col-form-label">Quadrant</label>
                <select asp-for="Quadrant" class="form-control">
                    <option value="1">Quadrant 1</option>
                    <option value="2">Quadrant 2</option>
                    <option value="3">Quadrant 3</option>
                    <option value="4">Quadrant 4</option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6">
                <label asp-for="CategoryId" class="col-form-label">Category</label>
                <select asp-for="CategoryId" class="form-control">
                    <option value="">Select a Category</option>
                    @foreach (Category record in ViewBag.Categories)
                    {
                        <option value="@record.CategoryId">@record.CategoryName</option>
                    }
                </select>
            </div>
            <div class="col-6">
                <label asp-for="Completed" class="col-form-label">Completed?</label>
                <select asp-for="Completed" class="form-control">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-info btn-lg">Submit</button>
            </div>
        </div>
    </form>
</div>
<div asp-validation-summary="All"></div>
